__pycache__/
.venv/
env/
venv/
.streamlit/

# Ignorar archivos de datos temporales
*.xlsx
*.pdf

# Mantener el logo y la plantilla si son necesarios
!logoemcali.png
!Plantilla_Burden_EMCALI_Impresion.xlsx